# Simulation:
# ./beepmbp inputfile="examples/EX_B1.toml" mode="sim" 

# Inference using MAP estimate: 
# mpirun -n 20 ./beepmbp inputfile="examples/EX_B1.toml" mode="map"


description = "Objective: This provides an example which makes use of the four different types of data available in BEEPmbp: transition data (here giving the weekly number of cases), population data (total population of infected individuals, measured weekly), marginal data (the total number of individuals which recover during a specified time window) and population fraction data (giving weekly estimates for the fraction of the population which are recovered).  Implementation: ‘data-table’ contains the four data source specifications with types “transition”, “population”, “marginal” and “population-fraction”.  Model: An SEIR model with constant reproduction number R_t (i.e. the contact rate between individuals remains the same over time), as well as a constant external force of infection. The population is demographically stratified by sex.  Data: Weekly number of E→I cases, and measurements on the total infected I and population fraction of recovered individuals R, stratified by sex. Also the total recoveries I→R within a specified time window.  Inference: The reproduction number R_t and sex-stratified latent and infectious periods." 

time_format = "number"
start = "0"
end = "140"

datadir = "examples/Data_EX_B1"
outputdir = "examples/Output_EX_B1"

comps = [
{name="S"},
{name="E", dist="Erlang", k="2", mean_value="Sex: 2 | 3", mean_prior="Uniform(1,4)"},
{name="I", dist="Exp", mean_value="Sex: 4 | 5", inf_value="1", mean_prior="Uniform(1,10)"},
{name="R"}
]

trans = [
{from="S", to="E", infection="yes"},
{from="E", to="I"},
{from="I", to="R"}
] 

democats = [{name="Sex", cats="Male | Female"}] 

R_spline = [{ value="2", prior="Uniform(0.5,4)"}]

efoi_spline = [{ value="1"}]

areas = "population.csv"

data_tables = [
{type="transition", observation="E->I", timestep="7", obsmodel="normal 10%", democats_dep="Sex", file="E-I.csv"},
{type="population", observation="I", timestep="7", obsmodel="normal 10%", democats_dep="Sex", file="I.csv"},
{type="marginal", observation="I->R", obsmodel="normal 10%", democats_dep="Sex", start="40", end="100", file="I-R total.csv"},
{type="population_fraction", observation="R", obsmodel="normal 10%", file="R.csv"},
]

state_outputs = [
{plot_name="Dynamics", type="population", observation="S", line_colour="green"},
{plot_name="Dynamics", type="population", observation="E", line_colour="magenta"},
{plot_name="Dynamics", type="population", observation="I", line_colour="red"},
{plot_name="Dynamics", type="population", observation="R", line_colour="blue"}
]

plot_param_values = "true"

