name: CI

on: [push]

jobs:
  build_ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Install packages
      run: sudo apt-get update && sudo apt-get install -y git build-essential mpich aha clang-tools-10 gcovr ghostscript gnuplot

    - name: Compile
      run: |
        cmake -Bbuild
        cmake --build build -j 4

    - name: Run example simulation
      run: |
        ./build/bin/BEEPmbp inputfile="examples/EX.toml" mode="sim"

    - name: Run example inference
      run: |
        mpirun -n 5 ./build/bin/BEEPmbp inputfile="examples/EX.toml" mode="abcmbp" nparticle=20 ngeneration=2 nrun=2
  build_MacOS:
    runs-on: macOS-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Install packages
      run: |
        brew install cmake
        brew install open-mpi
        brew install ghostscript
        brew install gnuplot
    - name: Compile
      run: |
        cmake -Bbuild
        cmake --build build -j 4
