
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 10pt;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 10pt;
  background: #fff;
  margin: 10px;
  width: 90%;
  border-collapse: collapse;
  text-align: left;
}

th {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  text-align: left;
}

tr {
  border-bottom: 1px solid #ccc;
  padding: 8px 8px;
}

td {
  padding: 4px;
}

a {
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
}

li {
  line-height: 1.75;
}
